.right-candidate {
    text-align: left;
    display: inline-block;
}

.right-candidate {
    text-align: right;
    display: inline;
}

.candidate-label-badge {
    margin: 0 20px 0 20px;

    .badge-icon {
        margin-right: 5px;
    }
}